// colors
$primary-bg: #fff;
$primary-text: #000;
$primary-color: #94AACC;
$secondary-color: #0C0F55;
$primary-accent: #E5AE57;
// text
$base-text-size: 20px;
$base-text: 'Courier New',
Courier,
monospace;
$heading-family:'Parisienne',
cursive;
// paddings and margin
$base-padding: 1em .5em;
$small-padding: .2em .5em;
$base-margin: 1em .5em;
$small-margin: .2em .5em;